<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>
<%- include('parts/footer.ejs')%>


<div class="container text-center">
    <h3>Create Account</h3>

    <% if (typeof error !== 'undefined') { %>
        <% if (error === 'Email is already used') { %>
            <div class="alert alert-danger">
                Email is already used. Please try another one.
            </div>
        <% } %>
    <% } %>

    <% if (validation_error && validation_error.length > 0) { %>
        <div class="alert alert-danger">
            <% for (let error of validation_error) { %>
                <p><strong>-</strong> <%= error.msg %></p>
            <% } %>
        </div>
    <% } %>

    <form action="/signup" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username">
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <br>
    <div>
        Already have an account? <a href="/login">Login</a>
    </div>
</div>